$main_color:#93c572;
$sub_color:#f7b560;
$txt_color:#555555;
$bg_color:#f9f9f9;

body{
  color: $txt_color;
  background-color: $bg_color;
  
  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }
}

@media screen and (min-width: 901px){
  .display__sp{
    display: none;
  }

  .about{
    background-color: $bg_color;
    padding-bottom: 50px;

    &__topPic{
      display: flex;
      width: 960px;
      margin: 0 auto;
      padding-top: 50px;

      &__left{
        width: 20%;
      }

      &__mid{
        width: 60%;
        margin: auto 0;

        img{
          width: 60%;
          margin: 0 auto;
        }
      }

      &__bottom{
        width: 20%;
      }
    }

    &__topDescription{
      line-height: 30px;
      text-align: center;
      margin-top: -30px;

      p{
        margin-bottom: 30px;
      }

      &__img{
        display: none;
      }
    }

    &__bottomPic{
      display: flex;
      justify-content: space-between;
      width: 960px;
      margin: 0 auto;
      margin-top: -50px;

      &__left{
        width: 18%;
      }

      &__right{
        width: 20%;
      }
    }

    .about__fadeIn {
      opacity: 0;
      transform: translateY(20px);  /* 初期状態で20px下に */
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  .about__fadeIn.show.time1 {
      opacity: 1;
      transform: translateY(0);  /* 元の位置に戻す */
  }

  .about__fadeIn.show.time2{
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.5s;
  }

  .about__fadeIn.show.time3{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.0s;
}

.about__fadeIn.show.time4{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}
  }

  .navSp{
    display: none;
  }

  .project{
    background-color: #fff;
    width: 85%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0 100px 100px 0;
    padding-bottom: 50px;

    &__title{
      width: 60%;
      margin: 0 auto;
      h2{
        font-size: 40px;
        background-image: url(../images/title-line.webp);
        background-position: 0 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: fit-content;
        padding-top: 80px;
      }
    }
  }

.tab-container{

}

.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  width: 60%;
  margin: 30px auto 0;
  font-size: 20px;
}

.tab-link {
  padding: 15px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 190px;
  text-align: center;
  color: $sub_color;
  box-shadow: 0px 3px 6px #00000029;
}

.tab-link.active {
  background-color: $main_color;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;

  p{
    width: 60%;
    margin: 50px auto 0;
    padding-bottom: 50px;
    font-size: 15px;
  }
}

.image-track{
  width: 90%;

  img{
    width: 100%;
    height: auto;
  }

  div{
    margin: 0 8px;
  }
}

  .question{
    width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
    &__title{
      h2{
        font-size: 40px;
        background-image: url(../images/title-line.webp);
        background-position: 0 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: fit-content;
        padding-top: 120px;
        margin: 0 auto;
      }
    }
  }

  .accordion {
    border: 3px solid $main_color;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 12px 40px;
    margin-top: 50px;
    background-color: #fff;
    position: relative;
  }
  
  .accordion::after {
    position: absolute;
    top: calc(50% - 7.5px);
    left: -3px;
    content: "";
    width: calc(6px + 100%);
    border-top: 15px solid  #fff;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .questionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;

    h3{
      width: 80%;
      font-weight: bold;
      font-size: 20px;
    }

    &__q{
      color: $main_color;
      font-size: 35px;
      margin-right: 20px;
    }
  }
  
  .toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .answer {
    margin-top: 20px;
    display: flex;

    &__a{
      color: $sub_color;
      font-size: 35px;
      margin-right: 20px;
    }
  }

  .toggle.open .icon {
    transform: rotate(45deg); /* 回転角度 */
    transition: transform 0.3s ease; /* 回転アニメーション */
  }

  .notice{
    display: flex;
    margin: 0 auto;
    margin-top: 120px;

    &__left{
      width: 50%;
      margin-top: 100px;

      h2{
        font-size: 40px;
        background-image: url(../images/title-line.webp);
        background-position: 0 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: fit-content;
        margin: 0 0 0 20%;
      }

      p{
        margin: 50px 0 30px 20%;
      }

      a{
        padding: 10px 40px;
        border: 2px solid $main_color;
        display: block;
        border-radius: 40px;
        text-decoration: none;
        width: 120px;
        margin: 0 auto;
        text-align: center;
        color: $main_color;
      }
    }

    &__right{
      width: 50%;
      padding: 40px 40px;
      background-color: #fff;
      border-radius: 100px 0 0 100px;
      box-shadow: 0px 3px 6px #00000029;

      .post-date{
        margin-right: 23px;
        margin-top: 30px;
        display: inline-block;
      }

      .post-category{
        padding: 5px 20px;
        border-radius: 5px;
        background-color: $main_color;
        color: #fff;
      }

      .post-title{
        font-size: 20px;
        font-weight: bold;
        color:inherit;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }

  .access{
    margin-top: 120px;
    width: 960px;
    margin: 0 auto;

    h2{
      font-size: 40px;
      background-image: url(../images/title-line.webp);
      background-position: 0 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      width: fit-content;
      padding-top: 80px;
      margin: 0 auto 100px;
    }

    &__information{
      
      background: linear-gradient(90deg,$main_color 0%,$main_color 25%, #fff 25%, #fff 100%);
      border-radius: 100px;
      box-shadow: 0px 3px 6px #00000029;

      table{
        border-spacing: 0px;
        width: 100%;
        padding: 80px 0 0 0;
      }

      th{
        font-size: 20px;
        width: 25%;
        padding: 10px 0 0 40px;
        text-align: left;
      }

      td{
        padding-left:50px;
      }
    }

    &__map{

      table{
        padding-top: 30px;
      }

      a{
        text-decoration: underline;
        font-size: 16px;
      }

      td{
        width: 100%;
        padding: 0;
      }

      th{
        vertical-align: top;
        padding-top:40px;
      }

      iframe{
        border-radius: 0 0 100px 0;
      }
    }
  }

  .contact{

    background-color: $sub_color;
    border-radius: 50px;
    color: #fff;
    width: 960px;
    text-align: center;
    margin: 120px auto;
    padding-bottom: 60px;
    box-shadow: 0px 3px 6px #00000029;

    h2{
      font-size: 40px;
      padding: 60px 0 30px;
    }

    p{
      font-size: 18px;
    }

    a{
      padding: 15px 40px;
      border: 2px solid $main_color;
      display: block;
      border-radius: 40px;
      text-decoration: none;
      width: 200px;
      margin: 50px auto;
      text-align: center;
      color: $main_color;
      background-color: #fff;
      font-size: 20px;
      font-weight: bold;
    }

    &__bold{
      font-size: 20px;
      font-weight: bold;

      span{
        font-size: 30px;
      }
    }
  }
}


@media screen and (max-width:900px){

  .display__pc{
    display: none;
  }

  .about{
    padding-bottom: 30px;

    &__topPic{
      display: flex;
      width: 80%;
      margin: 0 auto;
      padding-top: 50px;
      justify-content: space-between;

      &__left{
        width: 20%;
      }

      &__mid{
        display: none;

        img{
          width: 60%;
          margin: 0 auto;
        }
      }

      &__bottom{
        width: 20%;
      }
    }

    &__topDescription{
      line-height: 30px;
      text-align: center;

      &__img{
        width: 60%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
      }

      p{
        margin-bottom: 30px;
      }
    }

    &__bottomPic{
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;

      &__left{
        width: 30%;
      }

      &__right{
        width: 30%;
      }
    }

    .about__fadeIn {
      opacity: 0;
      transform: translateY(20px);  /* 初期状態で20px下に */
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  .about__fadeIn.show.time1 {
      opacity: 1;
      transform: translateY(0);  /* 元の位置に戻す */
  }

  .about__fadeIn.show.time2{
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.5s;
  }

  .about__fadeIn.show.time3{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.0s;
}

.about__fadeIn.show.time4{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}
}

.project{
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  padding-bottom: 30px;

  &__title{

    h2{
      font-size: 25px;
      background-image: url(../images/title-line.webp);
      background-position: 0 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      width: fit-content;
      padding-top: 50px;
      margin-left: 15px;
    }
  }
}

.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  width: 95%;
  margin: 30px auto 0;
  font-size: 20px;
  font-size: 14px;
}

.tab-link {
  padding: 20px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 33%;
  text-align: center;
  color: $sub_color;
  box-shadow: 0px 3px 6px #00000029;
}

.tab-link.active {
  background-color: $main_color;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;

  p{
    width: 90%;
    margin: 40px auto 70px;
    font-size: 15px;
  }
}

.image-track-sp{
  width: 100%;

  img{
    width: 100%;
    height: auto;
  }

  div{
    margin: 0 3px;
  }
  
}

.question{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  &__title{
    h2{
      font-size: 25px;
      background-image: url(../images/title-line.webp);
      background-position: 0 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      width: fit-content;
      padding-top: 80px;
      margin: 0 auto;
    }
  }
}

.accordion {
  border: 3px solid $main_color;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  width: 90%;
  margin: 50px auto;
  padding: 20px 0;
}

.accordion::after {
  position: absolute;
  top: calc(50% - 7.5px);
  left: -3px;
  content: "";
  width: calc(6px + 100%);
  border-top: 15px solid  #fff;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.questionTitle {
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;

  &__sp__q{
    color: $main_color;
    font-size: 18px;
    margin: 0 10px;
  }

  h3{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    text-wrap: none;
  }

  &__q{
    display: none;
  }
}

.toggle {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.answer {
  margin-top: 20px;
  z-index: 10;
  position: relative;
  width: 95%;
  margin: 0 auto;

  &__a{
    color: $sub_color;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 2px;
  }
}

.toggle.open .icon {
  transform: rotate(45deg); /* 回転角度 */
  transition: transform 0.3s ease; /* 回転アニメーション */
}

.notice{

  &__displayPc{
    display: none;
  }

  &__left{
    h2{
      font-size: 25px;
      background-image: url(../images/title-line.webp);
      background-position: 0 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      width: fit-content;
      margin-left: 15px;
    }
  
    p{
      width: 90%;
      margin: 25px auto;
    }
  
    br{
      display: none;
    }
  }

  &__more{
    a{
      padding: 15px 0;
      border: 2px solid $main_color;
      display: block;
      border-radius: 40px;
      text-decoration: none;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      color: $main_color;
    }
  }

  &__right{
    width: 95%;
    background-color: #fff;
    border-radius: 50px 0 0 50px;
    box-shadow: 0px 3px 6px #00000029;
    margin: 0 0 30px auto;

    .post-date{
      margin-right: 23px;
      margin-top: 30px;
      display: inline-block;
    }

    .post-category{
      padding: 5px 20px;
      border-radius: 5px;
      background-color: $main_color;
      color: #fff;
    }

    .post-title{
      font-size: 16px;
      font-weight: bold;
      color:inherit;
      margin-top: 20px;
      display: inline-block;
    }

    .recent-posts-list{
      padding: 10px 0 40px 20px;
      
    }
  }
}

.access{

  font-size: 14px;

  &__map{
    margin-bottom: 20px;

    a{
      text-decoration: underline;
    }
  }

  h2{
    font-size: 25px;
    background-image: url(../images/title-line.webp);
    background-position: 0 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: fit-content;
    padding-top: 50px;
    margin: 0 auto 40px;
  }

  &__information{
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    background: linear-gradient(90deg,$main_color 0%,$main_color 40%, #fff 40%, #fff 100%);
    border-radius: 50px;
    box-shadow: 0px 3px 6px #00000029;


    table{
      width: 100%;
      border-spacing: 0 20px;

      th{
        width: 40%;
        padding-left: 20px;
        text-align: left;
      }

      td{
        width: 60%;
        text-align: left;
        padding-left: 20px;
      }
    }

    iframe{
      border-radius: 0 0 50px 50px;
      margin-bottom: 0;
      box-shadow: 0px 3px 6px #00000029;
      vertical-align: bottom;
    }
  }
}

.contact{

  background-color: $sub_color;
  border-radius: 50px;
  color: #fff;
  width: 95%;
  text-align: center;
  margin: 90px auto;
  padding-bottom: 30px;
  box-shadow: 0px 3px 6px #00000029;

  h2{
    font-size: 30px;
    padding: 40px 0 30px;
  }

  p{
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
  }

  a{
    padding: 15px 40px;
    border: 2px solid $main_color;
    display: block;
    border-radius: 40px;
    text-decoration: none;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    color: $main_color;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  &__bold{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;

    span{
      font-size: 30px;
    }
  }
}


}