$main_color:#93c572;
$sub_color:#f7b560;
$txt_color:#555555;
$bg_color:#f9f9f9;

body{
  color: $txt_color;
  background-color: $bg_color;
  
  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }
}

@media screen and (min-width: 901px){
  .about{
    background-color: $bg_color;
    padding-bottom: 50px;

    &__topPic{
      display: flex;
      width: 960px;
      margin: 0 auto;
      padding-top: 50px;

      &__left{
        width: 20%;
      }

      &__mid{
        width: 60%;
        margin: auto 0;

        img{
          width: 60%;
          margin: 0 auto;
        }
      }

      &__bottom{
        width: 20%;
      }
    }

    &__topDescription{
      line-height: 30px;
      text-align: center;
      margin-top: -30px;

      p{
        margin-bottom: 30px;
      }
    }

    &__bottomPic{
      display: flex;
      justify-content: space-between;
      width: 960px;
      margin: 0 auto;
      margin-top: -50px;

      &__left{
        width: 18%;
      }

      &__right{
        width: 20%;
      }
    }
  }

  .project{
    background-color: #fff;
    width: 85%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0 100px 100px 0;
    padding-bottom: 50px;

    &__title{
      width: 60%;
      margin: 0 auto;
      h2{
        font-size: 40px;
        background-image: url(../images/title-line.webp);
        background-position: 0 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: fit-content;
        padding-top: 80px;
      }
    }
  }

.tab-container{

}

.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  width: 60%;
  margin: 30px auto 0;
  font-size: 20px;
}

.tab-link {
  padding: 15px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 190px;
  text-align: center;
  color: $sub_color;
  box-shadow: 0px 3px 6px #00000029;
}

.tab-link.active {
  background-color: $main_color;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;

  p{
    width: 60%;
    margin: 50px auto 0;
    padding-bottom: 50px;
    font-size: 15px;
  }
}

.image-track{
  width: 90%;

  img{
    width: 100%;
    height: auto;
  }

  div{
    margin: 0 8px;
  }
}

  .question{
    width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
    &__title{
      h2{
        font-size: 40px;
        background-image: url(../images/title-line.webp);
        background-position: 0 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: fit-content;
        padding-top: 120px;
        margin: 0 auto;
      }
    }
  }

  .accordion {
    border: 3px solid $main_color;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 12px 40px;
    margin-top: 50px;
    background-color: #fff;
    position: relative;
  }
  
  .accordion::after {
    position: absolute;
    top: calc(50% - 7.5px);
    left: -3px;
    content: "";
    width: calc(6px + 100%);
    border-top: 15px solid  #fff;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .questionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;

    h3{
      width: 80%;
      font-weight: bold;
      font-size: 20px;
    }

    &__q{
      color: $main_color;
      font-size: 35px;
      margin-right: 20px;
    }
  }
  
  .toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .answer {
    margin-top: 20px;
    display: flex;

    &__a{
      color: $sub_color;
      font-size: 35px;
      margin-right: 20px;
    }
  }

  .toggle.open .icon {
    transform: rotate(45deg); /* 回転角度 */
    transition: transform 0.3s ease; /* 回転アニメーション */
  }

  .notice{
    display: flex;
    margin: 0 auto;
    margin-top: 120px;

    &__left{
      width: 50%;
      margin-top: 100px;

      h2{
        font-size: 40px;
        background-image: url(../images/title-line.webp);
        background-position: 0 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: fit-content;
        margin: 0 0 0 20%;
      }

      p{
        margin: 50px 0 30px 20%;
        width: 400px;
      }

      a{
        padding: 10px 40px;
        border: 2px solid $main_color;
        display: block;
        border-radius: 40px;
        text-decoration: none;
        width: 120px;
        margin: 0 auto;
        text-align: center;
        color: $main_color;
      }
    }

    &__right{
      width: 50%;
      padding: 40px 40px;
      background-color: #fff;
      border-radius: 100px 0 0 100px;
      box-shadow: 0px 3px 6px #00000029;

      .post-date{
        margin-right: 23px;
        margin-top: 30px;
        display: inline-block;
      }

      .post-category{
        padding: 5px 20px;
        border-radius: 5px;
        background-color: $main_color;
        color: #fff;
      }

      .post-title{
        font-size: 20px;
        font-weight: bold;
        color:inherit;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}