@charset "UTF-8";
body {
  color: #555555;
  background-color: #f9f9f9;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

@media screen and (min-width: 901px) {
  .about {
    background-color: #f9f9f9;
    padding-bottom: 50px;
  }
  .about__topPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .about__topPic__left {
    width: 20%;
  }
  .about__topPic__mid {
    width: 60%;
    margin: auto 0;
  }
  .about__topPic__mid img {
    width: 60%;
    margin: 0 auto;
  }
  .about__topPic__bottom {
    width: 20%;
  }
  .about__topDescription {
    line-height: 30px;
    text-align: center;
    margin-top: -30px;
  }
  .about__topDescription p {
    margin-bottom: 30px;
  }
  .about__bottomPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    margin-top: -50px;
  }
  .about__bottomPic__left {
    width: 18%;
  }
  .about__bottomPic__right {
    width: 20%;
  }
  .project {
    background-color: #fff;
    width: 85%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 0 100px 100px 0;
    padding-bottom: 50px;
  }
  .project__title {
    width: 60%;
    margin: 0 auto;
  }
  .project__title h2 {
    font-size: 40px;
    background-image: url(../images/title-line.webp);
    background-position: 0 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 80px;
  }
  .tabs {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    width: 60%;
    margin: 30px auto 0;
    font-size: 20px;
  }
  .tab-link {
    padding: 15px 0;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 190px;
    text-align: center;
    color: #f7b560;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  .tab-link.active {
    background-color: #93c572;
    color: white;
  }
  .tab-content {
    display: none;
  }
  .tab-content.active {
    display: block;
  }
  .tab-content.active p {
    width: 60%;
    margin: 50px auto 0;
    padding-bottom: 50px;
    font-size: 15px;
  }
  .image-track {
    width: 90%;
  }
  .image-track img {
    width: 100%;
    height: auto;
  }
  .image-track div {
    margin: 0 8px;
  }
  .question {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .question__title h2 {
    font-size: 40px;
    background-image: url(../images/title-line.webp);
    background-position: 0 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 120px;
    margin: 0 auto;
  }
  .accordion {
    border: 3px solid #93c572;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 12px 40px;
    margin-top: 50px;
    background-color: #fff;
    position: relative;
  }
  .accordion::after {
    position: absolute;
    top: calc(50% - 7.5px);
    left: -3px;
    content: "";
    width: calc(6px + 100%);
    border-top: 15px solid #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }
  .questionTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    position: relative;
  }
  .questionTitle h3 {
    width: 80%;
    font-weight: bold;
    font-size: 20px;
  }
  .questionTitle__q {
    color: #93c572;
    font-size: 35px;
    margin-right: 20px;
  }
  .toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .answer {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .answer__a {
    color: #f7b560;
    font-size: 35px;
    margin-right: 20px;
  }
  .toggle.open .icon {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); /* 回転角度 */
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* 回転アニメーション */
  }
  .notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
  }
  .notice__left {
    width: 50%;
    margin-top: 100px;
  }
  .notice__left h2 {
    font-size: 40px;
    background-image: url(../images/title-line.webp);
    background-position: 0 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 0 20%;
  }
  .notice__left p {
    margin: 50px 0 30px 20%;
    width: 400px;
  }
  .notice__left a {
    padding: 10px 40px;
    border: 2px solid #93c572;
    display: block;
    border-radius: 40px;
    text-decoration: none;
    width: 120px;
    margin: 0 auto;
    text-align: center;
    color: #93c572;
  }
  .notice__right {
    width: 50%;
    padding: 40px 40px;
    background-color: #fff;
    border-radius: 100px 0 0 100px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  .notice__right .post-date {
    margin-right: 23px;
    margin-top: 30px;
    display: inline-block;
  }
  .notice__right .post-category {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #93c572;
    color: #fff;
  }
  .notice__right .post-title {
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    margin-top: 20px;
    display: inline-block;
  }
  .access {
    margin-top: 120px;
    width: 960px;
    margin: 0 auto;
  }
  .access h2 {
    font-size: 40px;
    background-image: url(../images/title-line.webp);
    background-position: 0 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 80px;
    margin: 0 auto 100px;
  }
  .access__information {
    background: -webkit-gradient(linear, left top, right top, from(#93c572), color-stop(25%, #93c572), color-stop(25%, #fff), to(#fff));
    background: linear-gradient(90deg, #93c572 0%, #93c572 25%, #fff 25%, #fff 100%);
    border-radius: 100px;
  }
  .access__information table {
    border-spacing: 0px;
    width: 100%;
    padding: 80px 0 0 0;
  }
  .access__information th {
    font-size: 20px;
    width: 25%;
    padding: 10px 0 0 40px;
    text-align: left;
  }
  .access__map table {
    padding-top: 30px;
  }
  .access__map a {
    text-decoration: underline;
    font-size: 16px;
  }
  .access__map td {
    width: 100%;
    padding: 0;
  }
  .access__map th {
    vertical-align: top;
    padding-top: 40px;
  }
  .access__map iframe {
    border-radius: 0 0 100px 0;
  }
}